body{
    background-image: url("/assets/images/dark-paths.png");
    background-size: cover;
}
h1{
    background-color: #f48f42;
    color: #efefef;
    text-align: center;
    font-family: 'Dokdo', cursive;
    height: 2em;
    font-size: 3.5em;
}

#instructions{
    background-color: #efefef;
    color: #f48f42;
    font-family: 'Dokdo', cursive;
    font-size: 1.75em;
}

#computerNumber{
    background-color: #f48f42;
    color: #efefef;
    height: 3em;
    text-align: center;
    font-family: 'Dokdo', cursive;
    font-size: 3em;
}

#scoreboard{
    background-color: #f48f42;
    color: #efefef;
    height: 4.5em;
    font-family: 'Dokdo', cursive;
    font-size: 2em;
}

.wins{
    height: 1em;
    font-size: 1.5em;
}

.losses{
    height: 1em;
    font-size: 1.5em;
}

button{
    height: 6em;
    width: 6em;
}

#red{
    background-image: url("/assets/images/red.jpg");
    background-size: cover;
}

#blue{
    background-image: url("/assets/images/blue.jpg");
    background-size: cover;
}

#yellow{
    background-image: url("/assets/images/yellow.jpg");
    background-size: cover;
}

#green{
    background-image: url("/assets/images/green.jpg");
    background-size: cover;
}

.currentScore{
    background-color: #efefef;
    color: #f48f42;
    text-align: center;
    font-family: 'Dokdo', cursive;
    font-size: 1.25em;
    height: 1.5em;
}

.score{
    background-color: #f48f42;
    color: #efefef;
    height: 2em;
    font-size: 3em;
    font-family: 'Dokdo', cursive;
    text-align: center;
}