body{
    background-image: url("/assets/images/dark-paths.png");
    background-size: cover;
}
h1{
    background-color: #f48f42;
    color: #f9f7f4;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
}

#instructions{
    background-color: #f9f7f4;
    color: #f48f42;
    font-family: 'Caveat Brush', cursive;
    font-size: 1.25em
}

#computerNumber{
    background-color: #f48f42;
    color: #f9f7f4;
    height: 7.5em;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
}

#scoreboard{
    background-color: #f48f42;
    color: #f9f7f4;
    height: 7.5em;
    font-family: 'Caveat Brush', cursive;
}

button{
    height: 6em;
    width: 6em;
}

#red{
    background-image: url("/assets/images/red.jpg");
    background-size: cover;
}

#blue{
    background-image: url("/assets/images/blue.jpg");
    background-size: cover;
}

#yellow{
    background-image: url("/assets/images/yellow.jpg");
    background-size: cover;
}

#green{
    background-image: url("/assets/images/green.jpg");
    background-size: cover;
}

.currentScore{
    background-color: #f9f7f4;
    color: #f48f42;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
}

.score{
    background-color: #f48f42;
    color: #f9f7f4;
    height: 5em;
}